
body {
    font-family: Arial, sans-serif;
    line-height: 1.6; 
    color: #333; /* Color de text més suau que el negre complet */
    background-color: #f4f4f4; /* Color de fons lleuger per reduir l'estrès visual */
    margin: 0;
    padding: 0;
}

header h1 {
    background-color: #007BFF; /* Color de fons vibrant per a la capçalera */
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px; /
}

/* Estils per als títols de secció */
h1, h2 {
    color: #333;
}

/* Marges per a les seccions per a una millor separació del contingut */
section {
    padding: 20px;
    margin: 20px;
}

/* Encara per separar més les seccions */
aside {
    background-color: #e9ecef; /* Fons diferenciat per a asides */
    padding: 15px;
    border-left: 5px solid #007BFF; /* Barra lateral estilística */
    margin-top: 20px; /* Espaiat superior */
}

.imagen-tres-cossos {
    width: 400px;  /* Ajusta la imagen al 100% del contenedor padre */

    height: 380px;  /* La altura se ajusta automáticamente para mantener la proporción */
}
